/Makefile
/build/confcache
/build/config.cache
/build/confdefs.h
/src/config.h
/build/config.log
/build/config.status
/build/stamp.*
/build/autotools/src
/src/mod/mod.mk
/*.tgz
/leaf
/hub
/leaf.*
/hub.*
/utctime
/wraith
/ts
/...
/.l-*
.*.sw*
.hosts
.resolv.conf
