/Makefile
/build/confcache
/build/config.cache
/config.cache
/build/confdefs.h
/src/config.h
/build/config.log
/build/config.status
/build/stamp.*
/build/autotools/src
/*.tgz
/leaf
/hub
/leaf.*
/hub.*
/wraith
/ts
/...
/.l-*
.*.sw*
.hosts
.resolv.conf
.buildbot
cscope.in.out
cscope.out
cscope.po.out
tags
/lib/libelf/Makefile
/lib/libelf/config.cache
/lib/libelf/config.h
/lib/libelf/config.status
/lib/libelf/config.log
/lib/libelf/libelf.pc
/lib/libelf/lib/Makefile
/lib/libelf/lib/stamp-h
/lib/libelf/lib/sys_elf.h
/lib/libelf/po/Makefile
/lib/libelf/stamp-h
/lib/libelf/lib/*.os
