#All lines beginning with '#' will be ignored during the bot startup. They are comments only.
#These lines MUST be correctly syntaxed or the bot will not work properly.
#A hub conf is located in the same dir as the hub binary, as 'conf' (encrypted)
#A leaf conf is located at '~/.ssh/.known_hosts' (encrypted)
#
#Note the "- " and "+ " for the following items, the space is REQUIRED.
#The first line must be the UID of the shell the bot is to be run on. (use "id" in shell to get uid)
#- 1113
#The second must be the output from uname -nv (-nr on FBSD)
#+ somebox #1 SMP Thu May 29 06:55:05 EDT 2003
#
#The following line will disable ps cloaking on the shell if you compiled with S_PSCLOAK
#!-
#The rest of the conf is for bots and is in the following syntax:
#botnick [!]ip4 [+]hostname IPv6-ip
#A . (period) can be used in place of ip4 and/or hostname if the field is not needed. (ie, for using only an ipv6 ip)
#(the ! means internal NAT ip address, IE: 10.10.0.3, Hostname REQUIRED)
#Full example:
#- 101 
#+ somebox 5.1-RELEASE
#bot1 1.2.3.4 some.vhost.com
#bot2 . +ipv6.uber.leet.la
#bot3 . +another.ipv6.host.com 2001:66:669:3a4::1
#bot4 1.2.3.4 +someipv6.host.com





#if there are any trailing newlines at the end, remove them up to the last bot.
