/* The < && > indicates the area you must change!
 * Do not leave the <>
 */

/* PACKNAME: name of the pack */
PACKNAME <name>

/* HASHES 
 * These must remain 100% secure/private, these keys can retrieve the salts, and
 * the entire botnet could be hijacked, a pass 8 chars or more is suggested
 */

/* SHELLHASH: 32 char md5 hash used for binary password 
 * in mIRC: //echo -a $MD5(SOMEWORD)
 * URL: http://bryan.shatow.net/crypt/
 */
SHELLHASH <md5hash>

/* BDHASH: 32 char MD5 hash used for IRC backdoor
 * in mIRC: //echo -a $MD5(SOMEWORD)
 * URL: http://bryan.shatow.net/crypt/
# NOTE: Botlink uses this for linking, if it is changed on a bot, it wont link to another bot unless
# the other bot has the same bdhash. (Protects your botnet, trust me) */
BDHASH <md5hash>

/* DCCPREFIX: 1 char cmd prefix for dcc. (ie, .cmd or !cmd) */
DCCPREFIX <.>

/* The settings below can each be defined multiple times */

/* OWNER <nick password host> 
 * Multiple OWNER lines may be defined, each will be added as a +a perm owner.
 * nick: nickname what else?
 * password: initial password for user
 * host: hosts of the user (list as many as needed)
 */
OWNER <Bob S0m3P4ass *!bob@1.2.3.4 *!*@1.2.3.4>

/* OWNEREMAIL: email addresses that status/errors will be sent to when needed 
 * list as many as needed
 */
OWNEREMAIL <some@email.com>

/* HUB <nick host port ident> 
 * Hubs are ranked by the order they are listed (previously was hublevel in settings.c)
 * nick: nick of hub
 * host: hostname or ip of hub (A 'dynamic' OR 'changeable' HOSTNAME IS RECOMMENDED)
 * port: port the hub listens on
 * ident: ident of bot (username on shell)
 */
HUB <God god.net 666 god>

/* SALTS: DO NOT TOUCH BELOW THIS LINE */

