/* The < && > indicates the area you must change!
 * Do not leave the <>
 */

/* PACKNAME: name of the pack (no spaces) */
PACKNAME <name>

/* HASHES 
 * These must remain 100% secure/private, these keys can retrieve the salts, and
 * the entire botnet could be hijacked, a pass 8 chars or more is suggested
 */

/* SHELLHASH: SHA1 hash
 * Use this URL to generate: http://www.shatow.net/crypt/
 * example: SHELLHASH 637d1f5c6e6d1be22ed907eb3d223d858ca396d8
 */
SHELLHASH <sha1hash>

/* DCCPREFIX: 1 char cmd prefix for dcc. (ie, .cmd or !cmd) */
DCCPREFIX <.>

/* The settings below can each be defined multiple times */

/* OWNER <nick password host> 
 * Multiple OWNER lines may be defined, each will be added as a +a perm owner.
 * nick: nickname what else?
 * password: initial password for user
 */
OWNER <YourNick FirstTimePass>

/* OWNEREMAIL: email addresses that status/errors will be sent to when needed 
 * list as many as needed
 */
OWNEREMAIL <some@email.com>

/* HUB <nick host port>
 * Hubs are ranked by the order they are listed
 * nick: nick of hub
 * host: hostname or ip of hub (A 'dynamic' OR 'changeable' HOSTNAME IS RECOMMENDED)
 * port: port the hub listens on
 *
 * Your hub hosts should NOT be vhosts. They need to be changable dns.
 * Use a domain you OWN/CONTROL, or a friends.
 */
HUB <hub1 hub1.domain.tld 1234>
HUB <hub2 hub2.domain.tld 1235>
