{% include header.html %}
<p>
# <strong>Version 1.2.16.1 (legacy release) requires an older version of this <a class="wiki" href="PackConfig">PackConfig</a>. Please use: <a href="PackConfig_version_28.html">PackConfig?version=28</a></strong>
</p>
<p>
# <strong>Also see a working example at <a class="wiki" href="{{ site.github.repository_url }}/wiki/PackConfigExample">PackConfigExample</a></strong>
</p>
<pre>
/* Salted-SHA1 format:
 *     rand: 12345 (This should be random)
 *     pass: password
 *     format: +12345$SHA1(12345password)
 *     Result: +12345$c553b125c1f87134911fe18e02f29c7ea7027303
 */
</pre>

# <label for="pass">Pass:</label> <input type="text=" size="50" id="pass" />
<input type="button" value="Generate Salted SHA1" onClick="saltedSHA1();">
<br />
# <label for="salted_sha1">salted_sha1:</label> <input type="text" size="50" readonly id="salted_sha1" onclick="javascript:this.focus();this.select();"/>

<script language="JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js"></script> 
<script language="JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/sha1-min.js"></script> 
<script language="javascript" type="text/javascript">
function randomString(n) {
	var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
	var string_length = n;
	var randomstring = '';
	for (var i=0; i<string_length; i++) {
		var rnum = Math.floor(Math.random() * chars.length);
		randomstring += chars.substring(rnum,rnum+1);
	}
        return randomstring;
}

function saltedSHA1() {
  
  var salt = randomString(5);
  var pass = document.getElementById('pass').value;
  var salted_sha1 = document.getElementById('salted_sha1');
  salted_sha1.value = '';
  if (!pass) return;
  
  salted_sha1.value = '+' + salt + '$' + CryptoJS.SHA1(salt + pass);
}
</script>
<form name="randform">
</form>

<pre>
{% include PackConfig.conf %}
SALT1 <span id="salt1">&nbsp;</span>
SALT2 <span id="salt2">&nbsp;</span>
</pre>


<script language="javascript" type="text/javascript">
function createSalts() {
  var salt1 = randomString(32);
  var salt2 = randomString(16);
  var s1 = document.getElementById('salt1');
  s1.innerText = salt1;
  s1.innerHtml = salt1;
  s1.textContent = salt1;
  var s2 = document.getElementById('salt2');
  s2.innerText = salt2;
  s2.innerHtml = salt2;
  s2.textContent = salt2;
}

</script>
<form name="randform">
<input type="button" value="Click to Generate Salts" onClick="createSalts();">
</form>
{% include footer.html %}
