/Makefile
/buildinfo.h
/_*.c
/*~
/help.h
/response.h
/responses.h
/.deps
/stringfix
/makehelp
/sorthelp
/makeres
/stringfix.exe
/makehelp.exe
/sorthelp.exe
/makeres.exe
/makeset
/makeset.exe
/set_default.h
*.o
